/* General */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  .anteproyectos_coordinador_contenedor {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  header {
    background-color: var(--blanco);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--negro);
  }
  h1 {
    background-color: inherit; /* Para asegurarse de que el fondo sea transparente */
    margin: 0; /* Elimina cualquier margen alrededor del h1 */
    padding: 0; /* Elimina cualquier padding */
  }
  
  .menu-icon {
    font-size: 35px;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 20px; /* Ajusta el valor según lo que necesites */
  }
  
  .settings-icon {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .contenido_anteproyecto_coordinador {
    display: flex;
    flex: 1;
  }
  
  .sidebar {
    width: 250px;
    background-color: var(--gris_claro);
    color: white;
    padding-top: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 10px;
    cursor: pointer;
  }
  
  .sidebar li:hover {
    background-color: var(--gris_claro);
  }
  
  main {
    flex: 1;
    padding: 20px;
  }
  
  .generar_reporte {
    background-color: var(--gris_claro);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  .lista_anteproyectos_coordinador {
    width: 100%;
  }
  
  .tabla_anteproyectos_coordinador {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--blanco);
  }
  td:first-child {
    width: 20%; /* La primera columna será el 70% del ancho */
  }
  
  td:last-child {
    width: 35%; /* La segunda columna será el 30% del ancho */
  }
  
  .tabla_anteproyectos_coordinador th, .tabla_anteproyectos_coordinador td {
    border: 0px solid var(--negro);
    padding: 10px;
    background-color: var(--blanco);
  }
  
  .tabla_anteproyectos_coordinador .btn {
    margin-right: 5px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
  }

  .contenedor_botones_anteproyectos_coordinador{
    text-align: right;
  }
  
  .tabla_anteproyectos_coordinador .revisar {
    background-color: var(--azul);
    color: white;
    border-radius: 5px;
  }
  
  .tabla_anteproyectos_coordinador .descargar {
    background-color: var(--azul);
    color: white;
    border-radius: 5px;
  }
  

  footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    border-top: 1px solid var(--negro);
    width: 100%;
  }
  