/* Anteproyectoscoordinador.module.css */

.anteproyectos_coordinador_contenedor {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--blanco);
}

.lista_anteproyectos_coordinador {
  width: 70%;
  margin: auto;
  margin-top: 30px;
  text-align: center;
}

.generar_reporte {
  background-color: var(--gris_oscuro);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
}

.generar_reporte:hover {
  background-color: var(--gris_claro);
  color: var(--gris_oscuro);
}

.tabla_anteproyectos_coordinador {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid var(--primary1);
  margin: 5px 0 15px 0;
}

.tabla_anteproyectos_coordinador th,
.tabla_anteproyectos_coordinador td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid var(--gris_claro);
}

.tabla_anteproyectos_coordinador th {
  background-color: var(--gris_oscuro);
  color: white;
  font-weight: bold;
}

.tabla_anteproyectos_coordinador td {
  font-size: 14px;
  color: var(--negro);
}

.contenedor_botones_anteproyectos_coordinador {
  display: flex;
  gap: 10px;
}

.btn {
  margin-right: 5px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  font-size: 12px;
}

.revisar {
  background-color: var(--azul);
  color: white;
  border-radius: 5px;
}

.revisar:hover {
  background-color: var(--gris_claro);
  color: var(--gris_oscuro);
}

.descargar {
  background-color: var(--azul);
  color: white;
  border-radius: 5px;
}

.descargar:hover {
  background-color: var(--gris_claro);
  color: white;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: var(--blanco);
  border-top: 2px solid var(--negro);
  font-size: 14px;
}
