/* General */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  .contenedor_anteproyectos_estudiante {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .encabezado_anteproyectos_estudiante {
    background-color: var(--gris_claro);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--negro);
  }
  .icono_menu_anteproyectos_estudiante {
    font-size: 35px;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 20px; /* Ajusta el valor según lo que necesites */
  }
  
  .settings-icon {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .contenedor_menu_lateral {
    display: flex;
    flex: 1;
  }
  
  .sidebar {
    width: 250px;
    background-color: var(--gris_oscuro);
    color: white;
    padding-top: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 10px;
    cursor: pointer;
  }
  
  .sidebar li:hover {
    background-color: var(--gris_claro);
  }
  
  main {
    flex: 1;
    padding: 20px;
  }
  
  .crear_anteproyecto {
    background-color: var(--gris_oscuro);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 5px;
    left: auto;
  }
  
  .lista_anteproyectos_estudiante {
    width: 60%;
    margin: auto;
  }
  
  .tabla_anteproyectos_estudiante {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid var(--primary1);
    margin: 5px 0 15px 0;
  }

  td:first-child {
    width: 65%; /* La primera columna será el 70% del ancho */
  }
  
  td:last-child {
    width: 35%; /* La segunda columna será el 30% del ancho */
  }
  
  .tabla_anteproyectos_estudiante th, .project-table td {
    border: 5px solid var(--negro);
    padding: 10px;
    background-color: #ffffff;
  }
  
  .tabla_anteproyectos_estudiante .btn {
    margin-right: 5px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
  }

  .contenedor_anteproyectos_estudiante{
    text-align: right;
  }
  
  .tabla_anteproyectos_estudiante .editar {
    background-color: var(--azul);
    color: white;
    border-radius: 5px;
  }
  
  .tabla_anteproyectos_estudiante .descargar {
    background-color: var(--azul);
    color: white;
    border-radius: 5px;
  }
  
  .tabla_anteproyectos_estudiante .eliminar {
    background-color: var(--rojo);
    color: white;
    border-radius: 5px;
  }
  
  footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    border-top: 1px solid var(--negro);
    width: 100%;
  }
  