.change-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--gris_claro);
    position: relative;
  }
  
  .btn-back {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 15px;
    background-color: var(--azul);
    color: var(--blanco);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-back:hover {
    background-color: #003080;
  }
  
  .change-box {
    width: 400px;
    padding: 40px;
    background-color: var(--blanco);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--azul);
  }
  
  .input-container-contra {
    position: relative;
    margin-bottom: 15px;
  }
  
  .input-field {
    width: 100%;
    padding: 10px 40px;
    font-size: 16px;
    border: 1px solid var(--gris_claro);
    border-radius: 5px;
  }
  
  .icon-contra {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--azul);
  }
  
  .btn-send {
    width: 100%;
    padding: 10px;
    background-color: var(--azul);
    color: var(--blanco);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .btn-send:hover {
    background-color: #003080;
  }
  