@import "bootstrap/dist/css/bootstrap.min.css";

.citas-form {
    padding: 20px;
}

.cita-form {
    flex: 1;
    padding: 20px 50px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.cita-form h2 {
    margin-bottom: 20px;
}

.cita-form label {
    display: block;
    margin-bottom: 15px;
}

.cita-form input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
}

.cita-btn {
    display: block;
    padding: 10px;
    background-color: #002855;
    color: white;
    border: solid 1px #002855;
    cursor: pointer;
    border-radius: 10px;
}

.cita-btn-secondary {
    display: block;
    padding: 10px;
    background-color: white;
    color: #002855;
    border: solid 1px #002855;
    cursor: pointer;
    border-radius: 10px;
}

.modal-actions {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}



.cita-table {
    flex: 2;
    padding: 20px;
}

.cita-table h3 {
    margin-bottom: 15px;
}

.cita-table table {
    width: 100%;
    border-collapse: collapse;
}

.cita-table th,
.cita-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.cita-table th {
    background-color: #f5f5f5;
}

.cita-table tr.cita-row {
    cursor: pointer;
}

.styled-input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 15px;
}