
.edit-user-container {
    width: 50%;
    background-color: #f2f2f2;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    background-color: var(--blanco);
    min-height: calc(100vh - 120px);
    box-sizing: border-box;
}
  
  .edit-user-info {
    margin-bottom: 30px;
  }
  
  .edit-user-info h2 {
    margin-bottom: 20px;
    color: var(--azul);
  }
  
  .edit-user-info label {
    display: block;
    margin-bottom: 10px;
  }
  
  .edit-user-info input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid var(--gris_claro);
    border-radius: 5px;
  }
  
  .edit-actions {
    display: flex;
    justify-content: space-around;
  }
  
  .btn-cancel,
  .btn-save {
    width: 30%;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .btn-cancel {
    background-color: var(--gris_claro);
    color: var(--negro);
  }

  .btn-cancel:hover {
    background-color: var(--gris_oscuro);
    color: var(--blanco);
  }
  
  .btn-save {
    background-color: var(--azul);
    color: var(--blanco);
  }

  .btn-save:hover {
    background-color: darkblue;
  }
  