.float-input {
    width: 80%;
    display: block;
    position: relative;
    margin: 30px auto;
    box-sizing: border-box;
    color: var(--secondary1);
    padding: 10px;
    border-radius: 5px;
    background-color: var(--background1);
    border: 2px solid var(--secondary1);
}

.float-input span {
    position: absolute;
    top: 55%;
    transform: translateY(-200%) scale(1);
    font-weight: bold;
    font-size: 14px;
    background-color: var(--background1);
    padding: 0 5px;
border-radius: 5px 5px 0 0;
}

.float-input input, .float-input select {
    background-color: transparent;
    border-color: transparent;
    outline: none;
    font-size: 16px;
    color: var(--primary1);
    width: 100%;
    box-sizing: border-box;
}

.float-input option {
    background: var(--background1);
}

.dark-button {
    background-color: var(--primary1);
    color: var(--background1);
    font-size: 18px;
    padding: 15px 20px;
    border-radius: 10px;
    width: 50%;
    cursor: pointer;
}

.dark-button:hover {
    background-color: var(--primary2);   
}