h1 {
  padding: 20px;
}

.gestion-container {
  display: flex;
  flex-direction: column; /* Para que el header esté arriba */
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 10px;
  background-color: var(--blanco);
  display: flex;
  flex-direction: column;
}

.gestion-perfiles {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 180px);  /* Ocupa el espacio restante bajo el header */
  padding: 40px;
  padding-top: 10px;
}

.btn-volver-menu {
  background-color: var(--azul);
  color: var(--blanco);
  border: 1px solid var(--gris_claro);
  border-radius: 5px;
  padding: 5px 10px; /* Ajusta el tamaño del botón */
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px 0 10px 40px; /* Espacio en la parte superior y debajo del botón */
  align-self: flex-start; /* Alinea el botón a la izquierda */
}

.btn-volver-menu:hover {
  background-color: darkblue; /* Efecto hover */
}

.users-list, .info-container {
  width: 48%; /* Ambos ocupan el 50% de la pantalla con un pequeño margen */
}

.users-list {
  background-color: #f2f2f2;
  border-color: var(--gris_oscuro);
  box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  border-radius: 10px;
}

.users-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.users-list ul li {
  padding: 10px;
  cursor: pointer;
}

.users-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.odd-row {
  background-color: var(--gris_claro);
}

.info-container {
  background-color: transparent;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user-info {
  width: 100%;
  height: 80%;
  background-color: #f2f2f2;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  border-radius: 10px;
}

.user-info h2 {
  margin-bottom: 20px;
  color: var(--azul);
}

.user-info label {
  display: block;
  margin-bottom: 10px;
}

.input-container-gestion {
  position: relative;
  margin-bottom: 15px;
}

.input-field-gestion {
  width: 100%;
  padding: 10px 40px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid var(--gris_claro);
  border-radius: 5px;
}

.sede-dropdown {
  width: 100%;
  padding: 10px 40px;
  font-size: 16px;
  border: 1px solid var(--gris_claro);
  border-radius: 5px;
}

.icon-gestion {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--azul);
}

.icon-sede{
  position: absolute;
  left: 10px;
  top: 35%;
  transform: translateY(-50%);
  color: var(--azul);
}

.user-name {
  width: 90%;
  text-align: left;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  gap: 20%;
}

.btn-delete, .btn-edit, .btn-add-user{
  color: var(--blanco);
  padding: 15px 30px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-delete {
  background-color: var(--rojo);
}

.btn-delete:hover {
  background-color: darkred;
}

.btn-edit {
  background-color: var(--azul);
}

.btn-edit:hover {
  background-color: darkblue;
}

.btn-add-user {
  background-color: var(--azul);
}

.btn-add-user:hover {
  background-color: darkblue;
}


.modal-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  position: absolute;
}


.delModalBtn {
  margin-top: 450px;
  padding: 20px 30px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-left: 50px;
  min-width: 120px;
  transition: background-color 0.3s ease;
}

.btnCancelar {
  background-color: gray;
  color: white;
  margin-left: 800px;
}

.btnCancelar:hover {
  background-color: var(--gris_oscuro);
}

.btnConfirmar {
  background-color: red;
  color: white;
}

.btnConfirmar:hover {
  background-color: darkred;
}

.top-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-bar {
  position: relative;
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 5px 10px;
  padding-left: 30px; /* Espacio para el ícono */
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-bar .search-icon {
  position: absolute;
  left: 10px;
  font-size: 16px;
  color: #aaa;
}

.filter-buttons select {
  height: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}