
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--gris_claro);
}

.login-box {
  width: 450px;
  height: 600px;
  padding: 40px;
  background-color: var(--blanco);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  border: 1px solid var(--gris_claro);
}

.login-form {
  width: 350px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--azul);
}


.input-container {
  position: relative;
  margin-bottom: 15px;
}

.input-field {
  width: 100%;
  padding: 10px 40px !important;
  font-size: 16px;
  border: 1px solid var(--gris_claro);
  border-radius: 5px;
}

.icon {
  position: absolute;
  left: 10px;
  top: 38%;
  transform: translateY(-50%);
  color: var(--azul);
}


.forgot-password {
  text-align: right;
  margin-bottom: 20px;
  cursor: pointer;
}

.forgot-password:hover {
  text-decoration: underline;
}

.forgot-password a {
  color: var(--azul);
  font-size: 12px;
  text-decoration: none;
}

.btn-login {
  width: 100%;
  padding: 10px;
  background-color: var(--azul);
  color: var(--blanco);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}

.btn-login:hover {
  background-color: #003080;
}


.btn-register {
  display: inline-block;
  width: 100%;
  padding: 10px;
  background-color: var(--gris_claro);
  color: var(--gris_oscuro);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
}

.btn-register:hover {
  background-color: var(--gris_oscuro);
}

