.modal {
    position: fixed;
    background-color: rgb(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-y: auto;
    padding: 30px 0;
    box-sizing: border-box;
}

.modal .dialog {
    background-color: var(--background1);
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.modal header {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px 15px 15px;
    border-bottom: 1px solid var(--secondary1);
    font-size: 24px;
    align-items: center;
}

.modal header button {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    font-size: 50px;
    color: var(--primary1);
}

.modal main {
    padding: 20px;
    box-sizing: border-box;
}

.modal footer {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    padding: 15px;
    border-top: 1px solid var(--secondary1);
    gap: 5px;
}

.closeButton {
    margin-left: 15px;
}

@media (max-width: 1000px){
    .modal footer {
        flex-direction: column;
    }
}