.lista_proyectos {
    width: 60%;
    margin: auto;
    margin-top: 30px;
  }

  .descargar {
    background-color: var(--azul);
    color: var(--blanco);
    border-radius: 5px;
  }
  
  .descargar:hover {
    background-color: var(--gris_claro);
    color: var(--gris_oscuro);
  }