/*Assignation.css*/
.assignations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
  }
  
  .assign-icon {
    text-align: center;
  }
  
  .assign-icon i {
    font-size: 2rem;
    color: #3a3a3a;
  }
  
  .assign-icon p {
    margin-top: 8px;
    font-size: 1rem;
  }
  