/*Assignation.css*/
.assignations {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  
  .assign-icon {
    text-align: center;
  }
  
  .assign-icon i {
    font-size: 48px;
    color: #3a3a3a;
  }
  
  .assign-icon p {
    margin-top: 10px;
    font-size: 16px;
  }
  