  /*SettingsMenu.module.css */
  .sidebar {
    width: 250px;
    height: calc(100vh - 80px);
    background: var(--gris_oscuro);
    color: white;
    padding-top: 20px;
    z-index: 999;
    position: absolute;
    right: 0; /* Posiciona el sidebar a la derecha */
    transition: transform 1s;
    transform: translateX(0); /* Visible por defecto */
    overflow: hidden;
  }

  .sidebar ul {
    list-style: none;
    padding-left: 0;
  }
  
  .sidebar li {
    padding: 15px 20px;
    font-size: 16px;
    border-bottom: 1px solid var(--gris_claro);
    cursor: pointer;
    display: flex;
    align-items: left;
  }
  
  .sidebar li:hover {
    background-color: var(--gris_claro);
  }

  .sidebarHide {
    width: 250px;
    height: calc(100vh - 80px);
    background: var(--gris_oscuro);
    color: white;
    padding-top: 20px;
    z-index: 999;
    position: fixed;
    right: 0; /* Posiciona el sidebar oculto a la derecha */
    transform: translateX(100%); 
  }

  .menuItem {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    cursor: pointer; /* Hacemos que se vea como botón */
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
    color: var(--blanco); /* Color de texto */
  }
  
  .menuItem:hover {
    transform: scale(1.05); /* Efecto al pasar el mouse */
  }
  
  .menuItem i {
    font-size: 50px;
    color: #001f61;
  }