/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@fortawesome/fontawesome-free/css/all.min.css';

:root {
  /* Your existing CSS variables */
}

/* Rest of your global styles */

html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}